.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 10px;
}

.game-leaderboard-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.gameContainer {
  flex: 1 1 60%; 
  margin-right: 200px;
}

.leaderboardContainer {
  flex: 1 1 40%; 
  max-width: 400px; 
}

@media (max-width: 992px) {
  .game-leaderboard-wrapper {
      flex-direction: column;
      align-items: center; 
  }

  .gameContainer, .leaderboardContainer {
      flex: 1 1 auto;
      margin-right: 0; 
      width: 100%; 
  }
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
}

.card {
  cursor: pointer;
}


@media (max-width: 600px) {
  .cards-grid {
      grid-template-columns: 1fr;
  }
}


.btn-outline-primary:hover,
.btn-outline-secondary:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}


.leaderboardTable {
  width: 100%;
  border-collapse: collapse;
}

.leaderboardTable th, .leaderboardTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}
